<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>WP</span>
            </div>

            <div class="logo-title" translate="LOGIN.LOGIN_TITLE">West-Pokot County</div>
            <div class="title" translate="LOGIN.TITLE">Log in to your account</div>

            <form name="loginForm" method="post" ng-submit="vm.login()" name="loginForm" novalidate>

                <md-input-container class="md-block" md-no-float>
                    <input type="text" name="username" ng-model="vm.loginFormData.username" placeholder="Username"
                           translate translate-attr-placeholder="LOGIN.USERNAME"
                           ng-pattern="/^[A-Za-z0-9_]{4,12}$/" autocomplete="off" required>
                    <div ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="LOGIN.ERRORS.USERNAME_REQUIRED">Username field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="LOGIN.ERRORS.USERNAME_MUST_VALID">Must be 4-12 characters long(Only alphabets and numbers, no special characters)</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.loginFormData.password" placeholder="Password"
                           translate translate-attr-placeholder="LOGIN.PASSWORD" autocomplete="off"
                           minlength="4" maxlength="20" autocomplete="off" required>
                    <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched" role="alert">
                        <div ng-message="required">
                            <span translate="LOGIN.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
                        <div ng-message="minlength">
                          <span translate="LOGIN.ERRORS.PASSWORD_MINLENGTH">Password should be 4 or more characters</span>
                        </div>
                        <div ng-message="maxlength">
                          <span translate="LOGIN.ERRORS.PASSWORD_MAXLENGTH">Password should be less than 20 characters</span>
                        </div>
                    </div>
                </md-input-container>

                <div class="remember-forgot-password" layout="row" layout-xs="column"
                     layout-align="space-between center">
                    <md-checkbox class="remember-me" aria-label="Remember Me">
                        <span translate="LOGIN.REMEMBER_ME">Remember Me</span>
                    </md-checkbox>

                    <a href="javascript:void(0)" class="forgot-password md-accent-color"
                       translate="LOGIN.FORGOT_PASSWORD">Forgot Password?</a>
                </div>

                <md-button type="submit" class="md-raised md-accent" aria-label="LOG IN"
                           translate="LOGIN.LOG_IN" translate-attr-aria-label="LOGIN.LOG_IN" ng-disabled="loginForm.$invalid">
                    LOG IN
                </md-button>
            </form>

        </div>
    </div>
</div>
