<div id="register" class="flex-scrollable" layout="column" ms-scroll>
    <div id="register-form-wrapper" layout="column" layout-align="center center">
        <div id="register-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>WP</span>
            </div>

            <div class="logo-title" translate="REGISTER.TITLE">Create an account</div>

            <form name="registerForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input name="firstname" ng-model="vm.registerForm.firstname" placeholder="Firstname"
                           translate translate-attr-placeholder="REGISTER.FIRSTNAME" minlength="3" maxlength="8" autocomplete="off"
                           required>
                    <div ng-messages="registerForm.firstname.$error" ng-show="registerForm.firstname.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span translate="REGISTER.ERRORS.FIRSTNAME_REQUIRED">Firstname field is required</span>
                        </div>
	                    <div ng-message="minlength">
		                    <span translate="REGISTER.ERRORS.FIRSTNAME_MINLENGTH">Should not be less than 3 characters</span>
	                    </div>
	                    <div ng-message="maxlength">
		                    <span translate="REGISTER.ERRORS.FIRSTNAME_MAXLENGTH">Should not be more than 8 characters</span>
	                    </div>
                    </div>
                </md-input-container>

	            <md-input-container class="md-block" md-no-float>
		            <input name="lastname" ng-model="vm.registerForm.lastname" placeholder="Lastname"
		                   translate translate-attr-placeholder="REGISTER.LASTNAME" minlength="3" maxlength="8" autocomplete="off"
		                   required>
		            <div ng-messages="registerForm.lastname.$error" ng-show="registerForm.lastname.$touched"
		                 role="alert">
			            <div ng-message="required">
				            <span translate="REGISTER.ERRORS.LASTNAME_REQUIRED">Lastname field is required</span>
			            </div>
			            <div ng-message="minlength">
				            <span translate="REGISTER.ERRORS.LASTNAME_MINLENGTH">Should not be less than 3 characters</span>
			            </div>
			            <div ng-message="maxlength">
				            <span translate="REGISTER.ERRORS.LASTNAME_MAXLENGTH">Should not be more than 8 characters</span>
			            </div>
		            </div>
	            </md-input-container>

	            <md-input-container class="md-block" md-no-float>
		            <input name="username" ng-model="vm.registerForm.username" placeholder="Username"
		                   translate translate-attr-placeholder="REGISTER.USERNAME" minlength="4" maxlength="8" autocomplete="off"
		                   required>
		            <div ng-messages="registerForm.username.$error" ng-show="registerForm.username.$touched"
		                 role="alert">
			            <div ng-message="required">
				            <span translate="REGISTER.ERRORS.USERNAME_REQUIRED">Username field is required</span>
			            </div>
			            <div ng-message="minlength">
				            <span translate="REGISTER.ERRORS.USERNAME_MINLENGTH">Should not be less than 4 characters</span>
			            </div>
			            <div ng-message="maxlength">
				            <span translate="REGISTER.ERRORS.USERNAME_MAXLENGTH">Should not be more than 8 characters</span>
			            </div>
		            </div>
	            </md-input-container>

                <md-input-container class="md-block" md-no-float>
	                <label>Select County</label>
	                <md-select name="county" ng-model="vm.registerForm.county" required>
		                <md-option ng-repeat="st in vm.subCounties" value="{{st.subcounty}}">
			                {{st.subcounty}}
		                </md-option>
	                </md-select>

	                <div ng-messages="registerForm.county.$error" ng-show="registerForm.county.$touched" role="alert"
	                     multiple>
		                <div ng-message="required">
			                <span translate="REGISTER.ERRORS.COUNTY_REQUIRED">County field is required</span>
		                </div>
	                </div>

                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.registerForm.password" placeholder="Password"
                           translate translate-attr-placeholder="REGISTER.PASSWORD" minlength="4" maxlength="8" autocomplete="off"
                           required>
                    <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span translate="REGISTER.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
	                    <div ng-message="minlength">
		                    <span translate="REGISTER.ERRORS.PASSWORD_MINLENGTH">Should not be less than 4 characters</span>
	                    </div>
	                    <div ng-message="maxlength">
		                    <span translate="REGISTER.ERRORS.PASSWORD_MAXLENGTH">Should not be more than 8 characters</span>
	                    </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.registerForm.passwordConfirm"
                           placeholder="Password (Confirm)"
                           translate translate-attr-placeholder="REGISTER.PASSWORD_CONFIRM" autocomplete="off"
                           required>
                    <div ng-messages="registerForm.passwordConfirm.$error"
                         ng-show="registerForm.passwordConfirm.$touched" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTER.ERRORS.PASSWORD_CONFIRM_REQUIRED">Password (Confirm) field is required</span>
                        </div>
	                    <span ng-if="vm.registerForm.passwordConfirm != vm.registerForm.password">
		                    <span translate="REGISTER.ERRORS.PASSWORD_CONFIRM_MATCH">Password (Confirm) fields do not macth</span>
	                    </span>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent" aria-label="CREATE MY ACCOUNT"
                           ng-disabled="registerForm.$invalid || registerForm.$pristine"
                           translate="REGISTER.CREATE_ACCOUNT"
                           translate-attr-aria-label="REGISTER.CREATE_ACCOUNT">
                    CREATE USER ACCOUNT
                </md-button>
            </form>

        </div>
    </div>
</div>