#register {
    height: 100%;
    background: url('/assets/images/backgrounds/march.jpg') no-repeat;
    background-size: cover;

    #register-form-wrapper {
        flex: 1 0 auto;
        padding: 32px;

        #register-form {
            width: 384px;
            max-width: 384px;
            padding: 32px;
            background: #FFFFFF;
            text-align: center;

	        .logo {
		        width: 156px;
		        height: 128px;
		        line-height: 128px;
		        font-size: 86px;
		        font-weight: 500;
		        margin: 32px auto;
		        color: #FFFFFF;
		        border-radius: 2px;
		        text-align: center;
		        background-color: #039BE5;
		        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.22);
	        }

	        .logo-title {
		        font-size: 20px;
		        margin: 16px 0 16px 0;
		        color: #0b3e6f;
	        }

	        .title {
		        font-size: 17px;
		        margin: 16px 0 32px 0;
	        }

            form {
                width: 100%;
                text-align: left;

                md-checkbox {
                    margin: 0;
                }

                .terms {
                    font-size: 13px;
                    margin: 16px 0 32px 0;

                    a {
                        margin-left: 4px;
                    }
                }

                .md-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                }
            }

            .login {
                margin: 32px auto 24px auto;
                width: 250px;
                font-weight: 500;

                .text {
                    margin-right: 8px;
                }

                .link {

                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #register {

        #register-form-wrapper {
            padding: 16px;

            #register-form {
                padding: 24px;
                width: 100%;

                form {

                    .md-button {
                        width: 90%;
                    }
                }
            }
        }
    }

}