<div id="revenue-collector" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- / FILTER SELECTION -->
    <md-backdrop class="board-selector-backdrop md-dialog-backdrop md-opaque" ng-show="vm.dateFilterSelectorVisible"
                 ng-click="vm.dateFilterSelectorVisible = false" aria-hidden="true">
    </md-backdrop>
    <!-- / FILTER SELECTION -->

    <!-- FILTERS SIDENAV -->
    <md-sidenav class="filter-sidenav md-sidenav-right" md-component-id="revenue-collector-filter-sidenav"
                ng-include="'app/main/verve/transactions/revenue-collector/sidenavs/filters/filters-sidenav.html'"
                ms-sidenav-helper>
    </md-sidenav>
    <!-- FILTERS SIDENAV -->


    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- CONTENT HEADER -->

        <div class="header" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="h2 white-fg">Transactions \ Revenue-Collectors</span>
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->


        <!--showing the data for all collectors-->
        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex ng-show="vm.showRevenueTotalCollectors">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">

                <span ng-show="!vm.collectorsFilter.subCounty && !vm.collectorsFilter.startDate">

                    <md-subheader class="md-primary">Showing All Data</md-subheader>
                </span>

                <span ng-if="vm.collectorsFilter.subCounty || vm.collectorsFilter.startDate">
                    <md-subheader class="md-primary">Showing Data For:
                        <span ng-if="vm.collectorsFilter.subCounty">{{vm.collectorsFilter.subCounty}};</span>
                        <span ng-if="vm.collectorsFilter.startDate">{{vm.collectorsFilter.startDate}}-{{vm.collectorsFilter.endDate}}</span>
                    </md-subheader>
                </span>

                <div layout="row" layout-align="end center">
                    <md-button class="md-accent md-raised md-hue-2 header-boards-button"
                               ng-click="vm.dateFilterSelectorVisible = !vm.dateFilterSelectorVisible && vm.toggleSidenav('revenue-collector-filter-sidenav')"
                               aria-label="boards button" translate translate-attr-aria-label="SC.FILTER_BUTTON">
                        <md-icon md-font-icon="icon-filter-variant" class="icon"></md-icon>
                        <span translate="SC.FILTER">Filter</span>
                    </md-button>
                </div>


            </div>

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

	            <!-- WIDGET GROUP -->
	            <div class="widget-group" layout="row" flex="100" layout-wrap>

		            <!-- WIDGET -->
		            <ms-widget class="h-140" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

			            <!-- Front -->
			            <ms-widget-front class="p-16 white-bg" layout="row" flex>
				            <div class="pt-8 pb-8" layout="column" layout-align="center center" flex>
					            <div class="md-display-1 pb-8">{{vm.widgetRevCollectorData.data.length}}</div>
					            <div class="font-weight-500 secondary-text">TOTAL COLLECTORS</div>
				            </div>
			            </ms-widget-front>
			            <!-- / Front -->

		            </ms-widget>
		            <!-- / WIDGET -->

		            <!-- WIDGET -->
		            <ms-widget class="h-140" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

			            <!-- Front -->
			            <ms-widget-front class="p-16 white-bg" layout="row" flex>

				            <div class="pt-8 pb-8" layout="row" layout-align="space-between center" flex>
					            <div>
						            <md-icon md-font-icon="icon-thumb-up blue-fg" class="s48 hint-text"></md-icon>
					            </div>

					            <div class="pr-8" layout="column" layout-align="center end">
						            <div class="font-weight-500 secondary-text pb-8">{{(vm.widgetRevCollectorData.data | max:'dsum').username}}</div>
						            <div class="md-display-1">{{(vm.widgetRevCollectorData.data | max:'dsum').dsum | number : fractionSize}}</div>
						            <span class="font-weight-800 secondary-text">HIGHEST COLLECTOR</span>
					            </div>
				            </div>
			            </ms-widget-front>
			            <!-- / Front -->

		            </ms-widget>
		            <!-- / WIDGET -->

		            <!-- WIDGET -->
		            <ms-widget class="h-140" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

			            <!-- Front -->
			            <ms-widget-front class="p-16 white-bg" layout="row" flex>

				            <div class="pt-8 pb-8" layout="row" layout-align="space-between center" flex>
					            <div>
						            <md-icon md-font-icon="icon-thumb-down red-fg" class="s48 hint-text"></md-icon>
					            </div>
					            <div class="pr-8" layout="column" layout-align="center end">
						            <div class="font-weight-500 secondary-text pb-8">{{((vm.widgetRevCollectorData.data | filter: vm.lessThanExpression) | min:'dsum').username}}</div>
						            <div class="md-display-1">{{((vm.widgetRevCollectorData.data | filter: vm.lessThanExpression )| min:'dsum').dsum | number : fractionSize}}</div>
						            <span class="font-weight-800 secondary-text">LOWEST COLLECTOR</span>
					            </div>
				            </div>
			            </ms-widget-front>
			            <!-- / Front -->

		            </ms-widget>
		            <!-- / WIDGET -->

		            <!-- WIDGET -->
		            <ms-widget class="h-140" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

			            <!-- Front -->
			            <ms-widget-front class="p-16 white-bg" layout="row" flex>
				            <div class="pt-8 pb-8" layout="column" layout-align="center center" flex>
					            <div class="font-weight-500 secondary-text pb-8">AVERAGE COLLECTION</div>
					            <!--<div class="md-display-1">{{(vm.widgetRevCollectorData.totals.dsum)/(vm.widgetRevCollectorData.data.length) | number:0 }}</div>-->
					            <div class="md-display-1">{{ ( (vm.widgetRevCollectorData.data | map: 'dsum' | sum ) / vm.widgetRevCollectorData.data.length) | number:0 }}</div>
				            </div>
			            </ms-widget-front>
			            <!-- / Front -->

		            </ms-widget>
		            <!-- / WIDGET -->

	            </div>
	            <!-- / WIDGET GROUP -->



                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- WIDGET-->
                    <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="100">

                        <!-- Front -->
                        <ms-widget-front class="white-bg">

                            <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                 layout-wrap>
                                <div class="pv-8 h3">{{vm.widgetRevCollectorData.title}}</div>

                                <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                     flex-sm="100">
                                </div>
                            </div>

                            <!--put the table here-->
                            <div class="white-bg md-whiteframe-4dp">
                                <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                    <tr>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">User Id</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Name</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Total Entries</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Total Collection</span>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="d in vm.widgetRevCollectorData.data"
                                        ng-if="(d.userid || d.userid != '') || (d.username || d.username != '' || d.sum > 0)">
                                        <td>{{ d.userid }}</td>
                                        <!--<td>{{ d.username }}</td>-->
                                        <td>
                                            <span class="text-boxed m-0 indigo-bg white-fg" ng-if="!d.username">
                                                No name
                                            </span>
                                            <span>
                                                {{d.username}}
                                            </span>
                                        </td>
                                        <td>{{ d.dcount | number : fractionSize }}</td>
                                        <td>{{ d.dsum | number : fractionSize }}</td>
                                    </tr>
                                    </tbody>
	                                <tfoot>
		                                <tr>
			                                <td>Totals</td>
			                                <td>
				                                {{vm.widgetRevCollectorData.data.length | number : fractionSize}}&nbsp;
				                                <span class="ml-16 text-boxed pink-bg white-fg ng-binding">
                                                    Collectors
                                                </span>
			                                </td>
			                                <!--<td>{{vm.widgetRevCollectorData.totals.dsum | number : fractionSize}}</td>-->
			                                <td>{{(vm.widgetRevCollectorData.data | map: 'dsum' | sum ) | number : fractionSize}}</td>
			                                <td>&nbsp;</td>
		                                </tr>
	                                </tfoot>
                                </table>
                            </div>
                            <!--put the table here-->
                        </ms-widget-front>
                    </ms-widget>
                    <!-- WIDGET -->

                </div>
                <!-- WIDGET GROUP -->

	            <!-- WIDGET GROUP -->
	            <div class="widget-group" layout="row" flex="100" layout-wrap ng-if="vm.widgetRevCollectorData.data.length > 9">

		            <!-- WIDGET -->
		            <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="50">

			            <!-- Front -->
			            <ms-widget-front class="white-bg">

				            <div class="ph-16 pv-24 border-bottom" layout="row" layout-align="space-between center">
					            <div layout="row" layout-align="start center">
						            <span class="h3">Lowest Collectors</span>
						            <span class="ml-16 text-boxed red-bg white-fg" ng-if="vm.widgetRevCollectorData.data.length <= 20">Showing lowest 5 collectors</span>
						            <span class="ml-16 text-boxed red-bg white-fg" ng-if="vm.widgetRevCollectorData.data.length > 20">Showing lowest 10 collectors</span>
					            </div>

					            <md-menu>
						            <md-button aria-label="more" class="md-icon-button">
							            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
						            </md-button>
					            </md-menu>
				            </div>

				            <div class="ph-16 pv-15 border-bottom" layout="row" layout-align="start center" ng-if="vm.widgetRevCollectorData.data.length > 20" ng-repeat="d in vm.widgetRevCollectorData.data | toArray | orderBy: 'dsum' | limitTo:10">
					            <div>
						            <i class="icon pr-16 mr-16 border-right"
						               ng-class="{'icon-arrow-down green-fg':$even, 'icon-arrow-down grey-fg':$odd}"></i>
					            </div>
					            <div class="h4 text-bold" flex>
						            <span class="text-boxed m-0 red-bg white-fg" ng-if="!d.username">
	                                    No name
	                                </span>
						            <span>
                                        {{d.username}}
                                    </span>
					            </div>
					            <div class="h4 font-weight-500 secondary-text">{{d.dsum | number:fractionSize}}</div>
				            </div>

				            <div class="ph-16 pv-15 border-bottom" layout="row" layout-align="start center" ng-if="vm.widgetRevCollectorData.data.length <=20" ng-repeat="d in vm.widgetRevCollectorData.data | toArray | orderBy: 'dsum' | limitTo:5">
					            <div>
						            <i class="icon pr-16 mr-16 border-right"
						               ng-class="{'icon-arrow-down green-fg':$even, 'icon-arrow-down grey-fg':$odd}"></i>
					            </div>
					            <div class="h4 text-bold" flex>
						            <span class="text-boxed m-0 red-bg white-fg" ng-if="!d.username">
	                                    No name
	                                </span>
						            <span>
                                        {{d.username}}
                                    </span>
					            </div>
					            <div class="h4 font-weight-500 secondary-text">{{d.dsum | number:fractionSize}}</div>
				            </div>

			            </ms-widget-front>
			            <!-- / Front -->

		            </ms-widget>
		            <!-- / WIDGET -->

		            <!-- WIDGET 8 -->
		            <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="50">

			            <!-- Front -->
			            <ms-widget-front class="white-bg">

				            <div class="ph-16 pv-24 border-bottom" layout="row" layout-align="space-between center">
					            <div layout="row" layout-align="start center">
						            <span class="h3">Top Collectors</span>
						            <span class="ml-16 text-boxed blue-bg white-fg" ng-if="vm.widgetRevCollectorData.data.length <=20">Showing top 5 collectors</span>
						            <span class="ml-16 text-boxed blue-bg white-fg" ng-if="vm.widgetRevCollectorData.data.length > 20">Showing top 10 collectors</span>
					            </div>

					            <md-menu>
						            <md-button aria-label="more" class="md-icon-button">
							            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
						            </md-button>
					            </md-menu>
				            </div>

				            <div class="ph-16 pv-15 border-bottom" layout="row" layout-align="start center" ng-if="vm.widgetRevCollectorData.data.length > 20" ng-repeat="d in vm.widgetRevCollectorData.data | toArray | orderBy: '-dsum' | limitTo:10">
					            <div>
						            <i class="icon pr-16 mr-16 border-right"
						            ng-class="{'icon-arrow-up red-fg':$even, 'icon-arrow-up blue-fg':$odd}"></i>
					            </div>
					            <div class="h4 text-bold" flex>
						            <span class="text-boxed m-0 red-bg white-fg" ng-if="!d.username">
	                                    No name
	                                </span>
						            <span>
                                        {{d.username}}
                                    </span>
					            </div>
					            <div class="h4 font-weight-500 secondary-text">{{d.dsum | number:fractionSize}}</div>
				            </div>

				            <div class="ph-16 pv-15 border-bottom" layout="row" layout-align="start center" ng-if="vm.widgetRevCollectorData.data.length <=20" ng-repeat="d in vm.widgetRevCollectorData.data | toArray | orderBy: '-dsum' | limitTo:5">
					            <div>
						            <i class="icon pr-16 mr-16 border-right"
						               ng-class="{'icon-arrow-up red-fg':$even, 'icon-arrow-up blue-fg':$odd}"></i>
					            </div>
					            <div class="h4 text-bold" flex>
						            <span class="text-boxed m-0 red-bg white-fg" ng-if="!d.username">
	                                    No name
	                                </span>
						            <span>
                                        {{d.username}}
                                    </span>
					            </div>
					            <div class="h4 font-weight-500 secondary-text">{{d.dsum | number:fractionSize}}</div>
				            </div>

			            </ms-widget-front>
			            <!-- / Front -->

		            </ms-widget>
		            <!-- / WIDGET 8 -->

		        </div>
			    <!-- / WIDGET GROUP -->
            </md-content>
            <!-- CONTENT -->
        </div>
        <!--showing the data for all collectors-->
        <!-- CONTENT CARD -->

      </div>
      <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
