<div id="sub-county" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- / FILTER SELECTION -->
    <md-backdrop class="board-selector-backdrop md-dialog-backdrop md-opaque" ng-show="vm.dateFilterSelectorVisible"
                 ng-click="vm.dateFilterSelectorVisible = false" aria-hidden="true">
    </md-backdrop>
    <!-- / FILTER SELECTION -->

    <!-- FILTERS SIDENAV -->
    <md-sidenav class="filter-sidenav md-sidenav-right" md-component-id="sub-county-filter-sidenav"
                ng-include="'app/main/verve/transactions/sub-county/sidenavs/filters/filters-sidenav.html'"
                ms-sidenav-helper>
    </md-sidenav>
    <!-- FILTERS SIDENAV -->



    <!-- CENTER -->
    <div class="center" flex ms-scroll>

      <!-- CONTENT HEADER -->

        <div class="header" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="h2 white-fg">Transactions \ Sub-County</span>
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->
            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">

                <span ng-show="!vm.subCountyFilter.subCounty && !vm.subCountyFilter.startDate">

                    <md-subheader class="md-primary">Showing All Data</md-subheader>
                </span>

                <span ng-if="vm.subCountyFilter.startDate">
                    <md-subheader class="md-primary">Showing Data For:
                        <span ng-if="vm.subCountyFilter.startDate">{{vm.subCountyFilter.startDate | date:'dd-MMM-yyyy'}}-{{vm.subCountyFilter.endDate | date:'dd-MMM-yyyy'}}</span>
                    </md-subheader>
                </span>

                <div layout="row" layout-align="end center">
                    <md-button class="md-accent md-raised md-hue-2 header-boards-button"
                               ng-click="vm.dateFilterSelectorVisible == vm.dateFilterSelectorVisible && vm.toggleSidenav('sub-county-filter-sidenav')"
                               aria-label="boards button" translate translate-attr-aria-label="SC.FILTER_BUTTON">
                        <md-icon md-font-icon="icon-filter-variant" class="icon"></md-icon>
                        <span translate="SC.FILTER">Filter By Date</span>
                    </md-button>
                </div>

            </div>
            <div class="toolbar" layout="row" layout-align="space-between center">




            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- WIDGET 5 -->
                    <ms-widget class="h-140" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                        <!-- Front -->
                        <ms-widget-front class="p-16 white-bg" layout="row" flex>
                            <div class="pt-8 pb-8" layout="column" layout-align="center center" flex>
                                <div class="md-display-1 pb-8">{{vm.widgetSubCountyData.data.collectionsData.length}}</div>
                                <div class="font-weight-500 secondary-text">Total No of Counties</div>
                            </div>
                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 5 -->

                    <!-- WIDGET 6 -->
                    <ms-widget class="h-140" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                        <!-- Front -->
                        <!-- Front -->
                        <ms-widget-front class="p-16 white-bg" layout="row" flex>
                            <div class="pt-8 pb-8" layout="row" layout-align="space-between center" flex>
                                <div class="pl-8" layout="column" layout-align="center start">
                                    <span class="md-display-1 pb-8">{{ (vm.widgetSubCountyData.data.collectionsData | max: 'dsum').dsum | number : fractionSize }}</span>
                                    <span class="font-weight-500 secondary-text">Highest Sub-County</span>
                                    <span class="font-weight-500 secondary-text h3 text-boxed m-3 red-bg white-fg">{{(vm.widgetSubCountyData.data.collectionsData | max: 'dsum').subcounty}}</span>
                                </div>

                                <div>
                                    <md-icon md-font-icon="icon-trending-up" class="s48 hint-text"></md-icon>
                                </div>
                            </div>
                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 6 -->

                    <!-- WIDGET 7 -->
                    <ms-widget class="h-140" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                        <!-- Front -->
                        <ms-widget-front class="p-16 white-bg" layout="row" flex>
                            <div class="pt-8 pb-8" layout="row" layout-align="space-between center" flex>
                                <div class="pl-8" layout="column" layout-align="center start">
                                    <span class="md-display-1 pb-8">{{ (vm.widgetSubCountyData.data.collectionsData | min: 'dsum').dsum | number : fractionSize }}</span>
                                    <span class="font-weight-500 secondary-text">Lowest Sub-County</span>
                                    <span class="font-weight-500 secondary-text h3 text-boxed m-3 green-bg white-fg">{{(vm.widgetSubCountyData.data.collectionsData | min: 'dsum').subcounty}}</span>
                                </div>

                                <div>
                                    <md-icon md-font-icon="icon-trending-down" class="s48 hint-text"></md-icon>
                                </div>
                            </div>
                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 7 -->

                    <!-- WIDGET 8 -->
                    <ms-widget class="h-140" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                        <!-- Front -->
                        <ms-widget-front class="p-16 white-bg" layout="row" flex>
                            <div class="pt-8 pb-8" layout="row" layout-align="space-between center" flex>
                                <div>
                                    <md-icon md-font-icon="icon-poll" class="s48 hint-text"></md-icon>
                                </div>

                                <div class="pr-8" layout="column" layout-align="center end">
                                    <div class="md-display-1 pb-8">Total Entries</div>
                                    <div class="font-weight-500 secondary-text">{{vm.widgetSubCountyData.data.totals.amount__count | number : fractionSize}}</div>
                                </div>
                            </div>
                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 8 -->

                </div>
                <!-- / WIDGET GROUP -->

                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- WIDGET 5 -->
                    <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="100">

                        <!-- Front -->
                        <ms-widget-front class="white-bg">

                            <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                 layout-wrap>
                                <div class="pv-8 h3">{{vm.widgetSubCountyData.title}}</div>

                                <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                     flex-sm="100">
                                </div>
                            </div>

                            <!--put the table here-->
                            <div class="white-bg md-whiteframe-4dp">
                                <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                   <span class="column-title">No</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Sub-County</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Entries</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Total Collection</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="v in vm.widgetSubCountyData.data.collectionsData">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ v.subcounty }}</td>
                                            <td>{{ v.dcount | number : fractionSize }}</td>
                                            <td>{{ v.dsum | number : fractionSize }}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>Totals</td>
                                        <td>{{ vm.widgetSubCountyData.data.totals.amount__count | number : fractionSize }}</td>
                                        <td>{{ vm.widgetSubCountyData.data.totals.amount__sum | number : fractionSize }}</td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <!--put the table here-->
                            </div>
                        </ms-widget-front>
                      <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 5 -->

                </div>
                <!-- / WIDGET GROUP -->

                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- WIDGET 6 -->
                    <ms-widget layout="column" flex="100" flex-gt-sm="50">

                        <!-- Front -->
                        <ms-widget-front class="white-bg">
                            <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                 layout-wrap>
                                <div class="pv-8 h3">{{vm.barChart.title}}</div>

                                <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                     flex-sm="100">

                                    <md-menu>
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                   aria-label="more">
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content width="3">
                                            <!--<md-menu-item>-->
                                                <!--<md-button aria-label="Flip widget">-->
                                                    <!--Details-->
                                                <!--</md-button>-->
                                            <!--</md-menu-item>-->
                                            <md-menu-item>
                                                <md-button aria-label="Refresh widget">
                                                    Refresh
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>


                                </div>
                            </div>

                            <div class="p-16">
                                <!--put the bar chat here here-->
                                <nvd3 options="vm.barChart.options" data="vm.barChart.data"></nvd3>
                            </div>

                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 6 -->

                    <!-- WIDGET 7 -->
                    <ms-widget layout="column" flex="100" flex-gt-sm="50">

                        <!-- Front -->
                        <ms-widget-front class="white-bg">
                            <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                 layout-wrap>
                                <div class="pv-8 h3">{{vm.pieChart.title}}</div>

                                <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                     flex-sm="100">
                                    <md-menu>
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                   aria-label="more">
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content width="3">
                                            <!--<md-menu-item>-->
                                                <!--<md-button aria-label="Flip widget">-->
                                                    <!--Details-->
                                                <!--</md-button>-->
                                            <!--</md-menu-item>-->
                                            <md-menu-item>
                                                <md-button aria-label="Refresh widget">
                                                    Refresh
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </div>

                            <div class="p-16">
                                  <nvd3
                                        config="vm.pieChart.config"
                                        options="vm.pieChart.options"
                                        data="vm.pieChart.data"></nvd3>
                            </div>

                            <div class="pv-8 mh-16 border-top" layout="row" layout-align="start center" layout-wrap>
                                <div class="pv-8 border-right" layout="column" layout-align="center center"
                                     flex="100" flex-gt-xs="50">
                                    <span class="font-size-32">Lowest</span>
                                    <span class="h3 text-boxed m-3 green-bg white-fg">{{ (vm.pieChart.data | min: 'y').key  }}</span>
                                    <span class="h4">{{ (vm.pieChart.data | min: 'y').y | number : fractionSize }}</span>
                                </div>

                                <div class="pv-8" layout="column" layout-align="center center" flex="100"
                                     flex-gt-xs="50">
                                    <span class="font-size-32">Highest</span>
                                    <span class="h3 text-boxed m-3 green-bg white-fg">{{ (vm.pieChart.data | max: 'y').key  }}</span>
                                    <span class="h4">{{ (vm.pieChart.data | max: 'y').y | number : fractionSize }}</span>
                                </div>
                            </div>

                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 7 -->

                </div>
                <!-- / WIDGET GROUP -->


            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
