<div id="business" class="page-layout carded left-sidenav single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!--&lt;!&ndash; LEFT SIDENAV &ndash;&gt;-->
    <!--<md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav"-->
                <!--ng-include="'app/main/verve/code-setting/revenue-code/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>-->
    <!--</md-sidenav>-->
    <!--&lt;!&ndash; / LEFT SIDENAV &ndash;&gt;-->

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- CONTENT HEADER -->

        <div class="header" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="h2 white-fg">Businesses \ Registered Businesses</span>
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="center center">



            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>


            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
