<div id="revenue-stream" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- / FILTER SELECTION -->
    <md-backdrop class="board-selector-backdrop md-dialog-backdrop md-opaque" ng-show="vm.dateFilterSelectorVisible"
                 ng-click="vm.dateFilterSelectorVisible = false" aria-hidden="true">
    </md-backdrop>
    <!-- / FILTER SELECTION -->

    <!-- FILTERS SIDENAV -->
    <md-sidenav class="filter-sidenav md-sidenav-right" md-component-id="revenue-streams-filter-sidenav"
                ng-include="'app/main/verve/transactions/revenue-stream/sidenavs/filters/filters-sidenav.html'"
                ms-sidenav-helper>
    </md-sidenav>
    <!-- FILTERS SIDENAV -->

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- CONTENT HEADER -->

        <div class="header" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="h2 white-fg">Transactions \ Revenue Category</span>
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">

                <span ng-show="!vm.revStreamsFilter.subCounty && !vm.revStreamsFilter.startDate">

                    <md-subheader class="md-primary">Showing All Data</md-subheader>
                </span>

                <span ng-if="vm.revStreamsFilter.subCounty || vm.revStreamsFilter.startDate">
                    <md-subheader class="md-primary">Showing Data For:
                        <span ng-if="vm.revStreamsFilter.subCounty">{{vm.revStreamsFilter.subCounty}};</span>
                        <span ng-if="vm.revStreamsFilter.startDate">{{vm.revStreamsFilter.startDate | date:'dd-MMM-yyyy'}}-{{vm.revStreamsFilter.endDate | date:'dd-MMM-yyyy'}}</span>
                    </md-subheader>
                </span>

                <div layout="row" layout-align="end center">
                    <md-button class="md-accent md-raised md-hue-2 header-boards-button"
                               ng-click="vm.dateFilterSelectorVisible = !vm.dateFilterSelectorVisible && vm.toggleSidenav('revenue-streams-filter-sidenav')"
                               aria-label="boards button" translate translate-attr-aria-label="SC.FILTER_BUTTON">
                        <md-icon md-font-icon="icon-filter-variant" class="icon"></md-icon>
                        <span translate="SC.FILTER">Filter</span>
                    </md-button>
                </div>

            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>


	            <!-- WIDGET GROUP -->
	            <div class="widget-group" layout="row" flex="100" layout-wrap>

		            <!-- WIDGET -->
		            <ms-widget class="h-140" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

			            <!-- Front -->
			            <ms-widget-front class="p-16 white-bg" layout="row" flex>
				            <div class="pt-8 pb-8" layout="column" layout-align="center center" flex>
					            <div class="md-display-1 pb-8">{{(vm.widgetRevenueStreamsData.data | filter: vm.lessThanExpression).length}}</div>
					            <div class="font-weight-500 secondary-text">TOTAL STREAMS</div>
				            </div>
			            </ms-widget-front>
			            <!-- / Front -->

		            </ms-widget>
		            <!-- / WIDGET -->

		            <!-- WIDGET -->
		            <ms-widget class="h-140" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

			            <!-- Front -->
			            <ms-widget-front class="p-16 white-bg" layout="row" flex>

				            <div class="pt-8 pb-8" layout="row" layout-align="space-between center" flex>
					            <div>
						            <md-icon md-font-icon="icon-trending-up blue-fg" class="s48 hint-text"></md-icon>
					            </div>

					            <div class="pr-8" layout="column" layout-align="center end">
						            <div class="font-weight-500 secondary-text pb-8">{{(vm.widgetRevenueStreamsData.data | max:'dsum').account__stream}}</div>
						            <div class="md-display-1">{{(vm.widgetRevenueStreamsData.data | max:'dsum').dsum | number : fractionSize}}</div>
						            <span class="font-weight-800 secondary-text">HIGHEST STREAM</span>
					            </div>
				            </div>
			            </ms-widget-front>
			            <!-- / Front -->

		            </ms-widget>
		            <!-- / WIDGET -->

		            <!-- WIDGET -->
		            <ms-widget class="h-140" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

			            <!-- Front -->
			            <ms-widget-front class="p-16 white-bg" layout="row" flex>

				            <div class="pt-8 pb-8" layout="row" layout-align="space-between center" flex>
					            <div>
						            <md-icon md-font-icon="icon-trending-down red-fg" class="s48 hint-text"></md-icon>
					            </div>
					            <div class="pr-8" layout="column" layout-align="center end">
						            <div class="font-weight-500 secondary-text pb-8">
							            <span ng-if="(vm.widgetRevenueStreamsData.data | min:'dsum').account__stream">{{((vm.widgetRevenueStreamsData.data) | min:'dsum').account__stream}}</span>
							            <span ng-if="!(vm.widgetRevenueStreamsData.data | min:'dsum').account__stream">Undefined</span>
						            </div>
						            <div class="md-display-1">{{((vm.widgetRevenueStreamsData.data | filter: vm.lessThanExpression )| min:'dsum').dsum | number : fractionSize}}</div>
						            <span class="font-weight-800 secondary-text">LOWEST STREAM</span>
					            </div>
				            </div>
			            </ms-widget-front>
			            <!-- / Front -->

		            </ms-widget>
		            <!-- / WIDGET -->

		            <!-- WIDGET -->
		            <ms-widget class="h-140" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

			            <!-- Front -->
			            <ms-widget-front class="p-16 white-bg" layout="row" flex>
				            <div class="pt-8 pb-8" layout="column" layout-align="center center" flex>
					            <div class="font-weight-500 secondary-text pb-8">AVERAGE COLLECTION</div>
					            <!--<div class="md-display-1">{{(vm.widgetRevenueStreamsData.totals.dsum)/(vm.widgetRevenueStreamsData.data.length) | number:0 }}</div>-->
					            <div class="md-display-1">{{ ( (vm.widgetRevenueStreamsData.data | map: 'dsum' | sum ) / vm.widgetRevenueStreamsData.data.length) | number:0 }}</div>
				            </div>
			            </ms-widget-front>
			            <!-- / Front -->

		            </ms-widget>
		            <!-- / WIDGET -->

	            </div>

                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- WIDGET 5 -->
                    <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="100">

                        <!-- Front -->
                        <ms-widget-front class="white-bg">

                            <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                 layout-wrap>
                                <div class="pv-8 h3">{{vm.widgetRevenueStreamsData.title}}</div>

                                <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                     flex-sm="100">
                                </div>
                            </div>

                            <div class="white-bg md-whiteframe-4dp">
                                <!--put the table here-->
                                <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                    <tr>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Account Code</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Account Name</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Revenue Category</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Total Collection</span>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="v in vm.widgetRevenueStreamsData.data" ng-if="v.account && v.account__accountname">
                                        <td>
                                            <span class="text-boxed m-0 indigo-bg white-fg" ng-if="!v.account">
                                                Undefined Accout Code
                                            </span>
                                            <span>
                                                {{v.account}}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="text-boxed m-0 indigo-bg white-fg" ng-if="!v.account__accountname">
                                                Undefined Stream
                                            </span>
                                            <span>
                                                {{v.account__accountname}}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="text-boxed m-0 indigo-bg white-fg" ng-if="!v.account__stream">
                                                Undefined Category
                                            </span>
                                            <span>
                                                {{v.account__stream}}
                                            </span>
                                        </td>
                                        <td>{{ v.dsum | number : fractionSize }}</td>
                                    </tr>
                                    </tbody>
                                    <tr>
	                                    <td>Totals</td>
                                        <td>
	                                        {{vm.widgetRevenueStreamsData.data.length}}
                                            <span class="ml-16 text-boxed pink-bg white-fg ng-binding">
                                                 Streams
                                            </span>
                                        </td>
	                                    <td>{{(vm.widgetRevenueStreamsData.data | map: 'dcount' | sum ) | number : fractionSize}}</td>
                                        <!--<td>{{ vm.widgetRevenueStreamsData.totals.amount__count | number : fractionSize }}</td>-->
	                                    <td>{{(vm.widgetRevenueStreamsData.data | map: 'dsum' | sum ) | number : fractionSize}}</td>
                                        <!--<td>{{ vm.widgetRevenueStreamsData.totals.amount__sum | number : fractionSize }}</td>-->
                                    </tr>
                                    </tfoot>
                                </table>
                                <!--put the table here-->
                            </div>
                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 5 -->

                </div>
                <!-- / WIDGET GROUP -->



	            <!-- WIDGET GROUP -->
	            <div class="widget-group" layout="row" flex="100" layout-wrap ng-if="vm.widgetRevenueStreamsData.data.length > 9">

		            <!-- WIDGET -->
		            <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="50">

			            <!-- Front -->
			            <ms-widget-front class="white-bg">

				            <div class="ph-16 pv-24 border-bottom" layout="row" layout-align="space-between center">
					            <div layout="row" layout-align="start center">
						            <span class="h3">Lowest Streams</span>
						            <span class="ml-16 text-boxed red-bg white-fg" ng-if="vm.widgetRevenueStreamsData.data.length <= 20">Showing lowest 5 streams</span>
						            <span class="ml-16 text-boxed red-bg white-fg" ng-if="vm.widgetRevenueStreamsData.data.length > 20">Showing lowest 10 streams</span>
					            </div>

					            <md-menu>
						            <md-button aria-label="more" class="md-icon-button">
							            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
						            </md-button>
					            </md-menu>
				            </div>

				            <div class="ph-16 pv-15 border-bottom" layout="row" layout-align="start center" ng-if="vm.widgetRevenueStreamsData.data.length > 20" ng-repeat="d in vm.widgetRevenueStreamsData.data | toArray | orderBy: 'dsum' | limitTo:10">
					            <div>
						            <i class="icon pr-16 mr-16 border-right"
						               ng-class="{'icon-trending-down green-fg':$even, 'icon-trending-down grey-fg':$odd}"></i>
					            </div>
					            <div class="h4 text-bold" flex>
						            <span class="text-boxed m-0 red-bg white-fg" ng-if="!d.account__stream">
	                                    No name
	                                </span>
						            <span>
                                        {{d.account__stream}}
                                    </span>
					            </div>
					            <div class="h4 font-weight-500 secondary-text">{{d.dsum | number:fractionSize}}</div>
				            </div>

				            <div class="ph-16 pv-15 border-bottom" layout="row" layout-align="start center" ng-if="vm.widgetRevenueStreamsData.data.length <=20" ng-repeat="d in vm.widgetRevenueStreamsData.data | toArray | orderBy: 'dsum' | limitTo:5">
					            <div>
						            <i class="icon pr-16 mr-16 border-right"
						               ng-class="{'icon-trending-down green-fg':$even, 'icon-trending-up grey-fg':$odd}"></i>
					            </div>
					            <div class="h4 text-bold" flex>
						            <span class="text-boxed m-0 red-bg white-fg" ng-if="!d.account__stream">
	                                    No name
	                                </span>
						            <span>
                                        {{d.account__stream}}
                                    </span>
					            </div>
					            <div class="h4 font-weight-500 secondary-text">{{d.dsum | number:fractionSize}}</div>
				            </div>

			            </ms-widget-front>
			            <!-- / Front -->

		            </ms-widget>
		            <!-- / WIDGET -->

		            <!-- WIDGET -->
		            <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="50">

			            <!-- Front -->
			            <ms-widget-front class="white-bg">

				            <div class="ph-16 pv-24 border-bottom" layout="row" layout-align="space-between center">
					            <div layout="row" layout-align="start center">
						            <span class="h3">Top Streams</span>
						            <span class="ml-16 text-boxed blue-bg white-fg" ng-if="vm.widgetRevenueStreamsData.data.length <=20">Showing top 5 streams</span>
						            <span class="ml-16 text-boxed blue-bg white-fg" ng-if="vm.widgetRevenueStreamsData.data.length > 20">Showing top 10 streams</span>
					            </div>

					            <md-menu>
						            <md-button aria-label="more" class="md-icon-button">
							            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
						            </md-button>
					            </md-menu>
				            </div>

				            <div class="ph-16 pv-15 border-bottom" layout="row" layout-align="start center" ng-if="vm.widgetRevenueStreamsData.data.length > 20" ng-repeat="d in vm.widgetRevenueStreamsData.data | toArray | orderBy: '-dsum' | limitTo:10">
					            <div>
						            <i class="icon pr-16 mr-16 border-right"
						               ng-class="{'icon-arrow-up red-fg':$even, 'icon-arrow-up blue-fg':$odd}"></i>
					            </div>
					            <div class="h4 text-bold" flex>
						            <span class="text-boxed m-0 red-bg white-fg" ng-if="!d.account__stream">
	                                    No name
	                                </span>
						            <span>
                                        {{d.account__stream}}
                                    </span>
					            </div>
					            <div class="h4 font-weight-500 secondary-text">{{d.dsum | number:fractionSize}}</div>
				            </div>

				            <div class="ph-16 pv-15 border-bottom" layout="row" layout-align="start center" ng-if="vm.widgetRevenueStreamsData.data.length <=20" ng-repeat="d in vm.widgetRevenueStreamsData.data | toArray | orderBy: '-dsum' | limitTo:5">
					            <div>
						            <i class="icon pr-16 mr-16 border-right"
						               ng-class="{'icon-arrow-up red-fg':$even, 'icon-arrow-up blue-fg':$odd}"></i>
					            </div>
					            <div class="h4 text-bold" flex>
						            <span class="text-boxed m-0 red-bg white-fg" ng-if="!d.account__stream">
	                                    No name
	                                </span>
						            <span>
                                        {{d.account__stream}}
                                    </span>
					            </div>
					            <div class="h4 font-weight-500 secondary-text">{{d.dsum | number:fractionSize}}</div>
				            </div>

			            </ms-widget-front>
			            <!-- / Front -->

		            </ms-widget>
		            <!-- / WIDGET -->

	            </div>
	            <!-- / WIDGET GROUP -->

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
