#revenue-stream {

    > .center {

        > .header {
            height: 160px;
            min-height: 160px;
            max-height: 160px;
            padding-bottom: 0;
        }

        > .content-card {

            > .toolbar {
                padding: 8px 16px;
                position: relative;
            }
        }
    }

    .ct-chart .ct-bar:nth-of-type(4n+1) {
        stroke: #71A28A;
    }

    .ct-chart .ct-bar:nth-of-type(4n+2) {
        stroke: #FF6414;
    }

    .ct-chart .ct-bar:nth-of-type(4n+3) {
        stroke: #EFB200;
    }

    .ct-chart .ct-bar:nth-of-type(4n+4) {
        stroke: #91A453;
    }

}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    .doc-page {

        .source-code {
            min-height: 120px;
        }

        > .header {

            .reference-button {
                margin: 0;

                span {
                    display: none;
                }
            }
        }

        .content {

            .ms-responsive-table-wrapper {

                table {

                    tbody {

                        td {

                            &.description {
                                min-width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}

