<!-- SIDENAV HEADER -->
<md-toolbar class="md-accent" ng-class="'md-accent-bg'">
    <div class="md-toolbar-tools">

        <!--<md-button class="md-icon-button" aria-label="back" translate translate-attr-aria-label="SC.BACK">-->
            <!--<md-icon md-font-icon="icon-arrow-left"></md-icon>-->
        <!--</md-button>-->

        <span flex class="menu-title">FILTER TRANSACTIONS</span>
    </div>
</md-toolbar>
<!-- / SIDENAV HEADER -->

<!-- FILTERS -->
<md-content class="animate-slide-right filter" ms-scroll ms-sidenav-helper>

    <form name="subCountyFilterForm" method="get" ng-submit="vm.filterSubCountyData()" novalidate>
        <md-list>

            <!-- FILTER BY START DATE -->
            <md-subheader class="md-no-sticky" translate="SC.START_DATE">Select Start Date</md-subheader>

            <md-list-item>
                <md-datepicker flex md-current-view="year" ng-model="vm.subCountyFilter.startDate" name="startDate" md-is-open="vm.isOpen" md-placeholder="Select Start Date"
                               md-min-date="vm.minDate" md-max-date="vm.maxDate" required></md-datepicker>
            </md-list-item>
            <!-- FILTER BY START DATE -->

            <md-divider></md-divider>

            <!-- FILTER BY END DATE -->
            <md-subheader class="md-no-sticky" translate="SC.END_DATE">Select End Date</md-subheader>

            <md-list-item>
                <md-datepicker md-current-view="year" flex ng-model="vm.subCountyFilter.endDate" name="endDate" md-is-open="vm.isOpen" md-placeholder="Select End Date"
                               md-min-date="vm.minDate || vm.startDate" md-max-date="vm.maxDate" required></md-datepicker>
            </md-list-item>
            <!-- FILTER BY END DATE -->


            <md-divider></md-divider>
        </md-list>

        <div layout="row" layout-align="center center">
            <md-button class="md-warn md-raised" type="submit" ng-disabled="subCountyFilterForm.$invalid"
                       ng-click="vm.filterSelectorVisible = !vm.filterSelectorVisible && vm.toggleSidenav('filter-sidenav')">Submit</md-button>
        </div>
    </form>

</md-content>
<!-- FILTERS -->