<div id="collection-summary-yearly" class="page-layout carded left-sidenav" layout="row"><!--class="page-layout carded fullwidth single-scroll"-->

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- LEFT SIDENAV -->
    <!-- SIDENAV -->
    <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="csy-main-sidenav"
                ng-include="'app/main/verve/transactions/collection-summary-yearly/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
    </md-sidenav>
    <!-- / SIDENAV -->
    <!-- / LEFT SIDENAV -->

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

      <!-- CONTENT HEADER -->

        <div class="header" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="h2 white-fg">Transactions \ Annual Summary</span>
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD FOR TOTAL REPORTS-->
        <div class="content-card" layout="column" flex ng-show="vm.isShowTotal">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">

                <div layout="row" layout-align="start center">

                    <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('csy-main-sidenav')" hide-gt-md
                               aria-label="Toggle Sidenav">
                        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                    </md-button>

                    <md-subheader class="md-primary">{{vm.widgetAnnualSummaryData.title}}</md-subheader>
                    <div class="divider-vertical" hide show-gt-sm></div>
                </div>

                <div layout="row" layout-align="start center">

                    <span class="page-info" hide show-gt-sm>
                        <span>Filter By County</span>
                        <md-icon md-font-icon="icon-sort-ascending"></md-icon>
                        <md-tooltip><span translate="CSY.COUNTY_FILTER">Filter By County</span></md-tooltip>
                    </span>

                    <md-select class="simplified with-3d-shadow" ng-model="vm.selectedStreamFilter.year" placeholder="Select Year"
                               ng-change="vm.changeSelect(true,false,false,false)">
                        <md-option ng-repeat="v in vm.years" value="{{v}}">
                            {{v}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content" layout="column" flex>

                <!-- List pane -->
                <md-content class="list-pane" flex>

                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="TABLES">

                            <md-content class="md-padding">

                                <!-- WIDGET GROUP -->
                                <div class="widget-group" layout="row" flex="100" layout-wrap>

                                    <!-- WIDGET 7 -->
                                    <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="100">

                                        <!-- Front -->
                                        <ms-widget-front class="white-bg">

                                            <div class="ph-16 pv-24 border-bottom" layout="row" layout-align="space-between center">
                                                <div layout="row" layout-align="start center">
                                                    <span class="h3">{{vm.totalMonthlySummaryData.title}}</span>
                                                </div>

                                                <md-menu>
                                                    <md-button aria-label="more" class="md-icon-button"
                                                               ng-click="$mdOpenMenu($event)">
                                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                                    </md-button>
                                                    <md-menu-content width="2">
                                                        <md-menu-item>
                                                            <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                                Refresh
                                                            </md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </div>

                                            <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                                <thead>
                                                <tr>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Sub-County</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Jan</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Feb</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Mar</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Apr</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">May</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Jun</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">July</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Aug</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Sept</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Oct</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Nov</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Dec</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="(key, data) in vm.totalMonthlySummaryData.data.collectionsData | groupBy: 'subcounty' track by $index">
                                                    <td>
                                                        {{key}}
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===1">
                                                            {{m.dsum | number : fractionSize}}

                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===2">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===3">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===4">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===5">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===6">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===7">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===8">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===9">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===10">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===11">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===12">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </ms-widget-front>
                                        <!-- / Front -->

                                    </ms-widget>
                                    <!-- / WIDGET 7 -->
                                </div>
                                <!-- WIDGET GROUP -->


                            </md-content>


                        </md-tab>
                        <md-tab label="DASHBOARD">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">DASHBOARD</h1>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
                <!-- / List pane -->

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- CONTENT CARD FOR TOTAL REPORTS-->

        <!-- CONTENT CARD FOR SUB-COUNTY REPORTS-->
        <div class="content-card" layout="column" flex ng-show="vm.isShowSubcounty">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">

                <div layout="row" layout-align="start center">

                    <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('csy-main-sidenav')" hide-gt-md
                               aria-label="Toggle Sidenav">
                        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                    </md-button>

                    <md-subheader class="md-primary">Sub-County Summaries</md-subheader>
                    <div class="divider-vertical" hide show-gt-sm></div>
                </div>

                <div layout="row" layout-align="center center">

                    <span class="page-info" hide show-gt-sm>
                        <span>Filter By Year</span>
                        <md-icon md-font-icon="icon-sort-ascending"></md-icon>
                        <md-tooltip><span translate="CSY.YEAR_FILTER">Filter By Year</span></md-tooltip>
                    </span>

                    <md-select class="simplified with-3d-shadow" ng-model="vm.selectedSubCountyFilter.year" placeholder="Select Year"
                               ng-change="vm.changeSelect(false,true,false,false)">
                        <md-option ng-repeat="v in vm.years" value="{{v}}">
                            {{v}}
                        </md-option>
                    </md-select>
                </div>

                <div layout="row" layout-align="start center">
                    <span class="page-info" hide show-gt-sm>
                        <span>Filter By County</span>
                        <md-icon md-font-icon="icon-sort-ascending"></md-icon>
                        <md-tooltip><span translate="CSY.COUNTY_FILTER">Filter By County</span></md-tooltip>
                    </span>

                    <md-select class="simplified" ng-model="vm.selectedSubCountyFilter.subCounty" placeholder="Select County"
                               ng-change="vm.changeSelect(false,true,false,false)">
                        <md-option ng-repeat="v in vm.subCounties" value="{{v.subcounty}}">
                            {{v.subcounty}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content" layout="column" flex>

                <!-- List pane -->
                <md-content class="list-pane" flex>

                    <div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.selectedSubCountyFilter.subCounty || vm.selectedSubCountyFilter.year">

                        <div layout="row" layout-align="center center">

                            <md-subheader class="md-primary">Filtered By:</md-subheader>
                            <md-subheader class="md-primary" ng-if="vm.selectedSubCountyFilter.subCounty">County:
                                <span>{{vm.selectedSubCountyFilter.subCounty}};</span>
                            </md-subheader>
                            <div class="divider-vertical" hide show-gt-sm></div>
                            <md-subheader class="md-primary"ng-if="vm.selectedSubCountyFilter.year">Year:
                                <span>{{vm.selectedSubCountyFilter.year}};</span>
                            </md-subheader>


                        </div>
                    </div>

                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="TABLES">
                            <md-content class="md-padding">

                                <!-- WIDGET GROUP -->
                                <div class="widget-group" layout="row" flex="100" layout-wrap>

                                    <!-- WIDGET 7 -->
                                    <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="100">

                                        <!-- Front -->
                                        <ms-widget-front class="white-bg">

                                            <div class="ph-16 pv-24 border-bottom" layout="row" layout-align="space-between center">
                                                <div layout="row" layout-align="start center">
                                                    <span class="h3">{{vm.widgetSubCountyMonthlySummaryData.title}}</span>
                                                    <span class="ml-16 text-boxed pink-bg white-fg">SubCounties </span>
                                                </div>

                                                <md-menu>
                                                    <md-button aria-label="more" class="md-icon-button"
                                                               ng-click="$mdOpenMenu($event)">
                                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                                    </md-button>
                                                    <md-menu-content width="2">
                                                        <md-menu-item>
                                                            <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                                Refresh
                                                            </md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </div>

                                            <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                                <thead>
                                                <tr>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">SuCounty</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Jan</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Feb</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Mar</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Apr</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">May</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Jun</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">July</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Aug</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Sept</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Oct</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Nov</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Dec</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Totals</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="(key, data) in vm.widgetSubCountyMonthlySummaryData.data.collectionsData | groupBy: 'subcounty' track by $index">
                                                    <td>
                                                        {{key}}
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===1">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===2">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===3">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===4">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===5">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===6">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===7">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===8">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===9">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===10">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===11">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===12">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span>
                                                            {{ [1, 2, 3, 4, 5] | sum }}
                                                        </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </ms-widget-front>
                                        <!-- / Front -->

                                    </ms-widget>
                                    <!-- / WIDGET 7 -->
                                </div>
                                <!-- WIDGET GROUP -->


                            </md-content>
                        </md-tab>
                        <md-tab label="DASHBOARD">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">DASHBOARD</h1>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
                <!-- / List pane -->

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- CONTENT CARD FOR SUB-COUNTY REPORTS-->

        <!-- CONTENT CARD FOR STREAM CATEGORIES REPORTS-->
        <div class="content-card" layout="column" flex ng-show="vm.isShowStreamCategories">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">

                <div layout="row" layout-align="start center">

                    <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('csy-main-sidenav')" hide-gt-md
                               aria-label="Toggle Sidenav">
                        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                    </md-button>

                    <md-subheader class="md-primary">Stream Categories Summaries</md-subheader>
                    <div class="divider-vertical" hide show-gt-sm></div>
                </div>

                <div layout="row" layout-align="center center">

                    <span class="page-info" hide show-gt-sm>
                        <span>Filter By Year</span>
                        <md-icon md-font-icon="icon-sort-ascending"></md-icon>
                        <md-tooltip><span translate="CSY.YEAR_FILTER">Filter By Year</span></md-tooltip>
                    </span>

                    <md-select class="simplified with-3d-shadow" ng-model="vm.selectedStreamCategoryFilter.year" placeholder="Select Year"
                               ng-change="vm.changeSelect(false,false,true,false)">
                        <md-option ng-repeat="v in vm.years" value="{{v}}">
                            {{v}}
                        </md-option>
                    </md-select>
                </div>

                <div layout="row" layout-align="start center">
                    <span class="page-info" hide show-gt-sm>
                        <span>Filter By County</span>
                        <md-icon md-font-icon="icon-sort-ascending"></md-icon>
                        <md-tooltip><span translate="CSY.COUNTY_FILTER">Filter By County</span></md-tooltip>
                    </span>

                    <md-select class="simplified" ng-model="vm.selectedStreamCategoryFilter.subCounty" placeholder="Select County"
                               ng-change="vm.changeSelect(false,false,true,false)">
                        <md-option ng-repeat="v in vm.subCounties" value="{{v.subcounty}}">
                            {{v.subcounty}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content" layout="column" flex>

                <!-- List pane -->
                <md-content class="list-pane" flex>

                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="TABLES">

                            <md-content class="md-padding">

                                <!-- WIDGET GROUP -->
                                <div class="widget-group" layout="row" flex="100" layout-wrap>

                                    <!-- WIDGET 7 -->
                                    <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="100">

                                        <!-- Front -->
                                        <ms-widget-front class="white-bg">

                                            <div class="ph-16 pv-24 border-bottom" layout="row" layout-align="space-between center">
                                                <div layout="row" layout-align="start center">
                                                    <span class="h3">{{vm.widgetStreamCategoriesMonthlySummaryData.title}}</span>
                                                </div>

                                                <md-menu>
                                                    <md-button aria-label="more" class="md-icon-button"
                                                               ng-click="$mdOpenMenu($event)">
                                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                                    </md-button>
                                                    <md-menu-content width="2">
                                                        <md-menu-item>
                                                            <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                                Refresh
                                                            </md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </div>

                                            <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                                <thead>
                                                <tr>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Stream Name</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Jan</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Feb</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Mar</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Apr</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">May</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Jun</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">July</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Aug</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Sept</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Oct</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Nov</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Dec</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="(key, data) in vm.widgetStreamCategoriesMonthlySummaryData.data.data | groupBy: 'account__stream' track by $index">
                                                    <td>
                                                        {{key}}
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===1">
                                                            {{m.dsum | number : fractionSize}}

                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===2">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===3">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===4">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===5">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===6">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===7">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===8">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===9">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===10">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===11">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===12">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </ms-widget-front>
                                        <!-- / Front -->

                                    </ms-widget>
                                    <!-- / WIDGET 7 -->
                                </div>
                                <!-- WIDGET GROUP -->


                            </md-content>

                        </md-tab>
                        <md-tab label="DASHBOARD">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">DASHBOARD</h1>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
                <!-- / List pane -->

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- CONTENT CARD FOR STREAM CATEGORIES REPORTS-->

        <!-- CONTENT CARD FOR STREAMS REPORTS-->
        <div class="content-card" layout="column" flex ng-show="vm.isShowStream">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">

                <div layout="row" layout-align="start center">

                    <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('csy-main-sidenav')" hide-gt-md
                               aria-label="Toggle Sidenav">
                        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                    </md-button>

                    <md-subheader class="md-primary">Revenue Streams Summaries</md-subheader>
                    <div class="divider-vertical" hide show-gt-sm></div>
                    <md-subheader class="md-primary">Filtered By</md-subheader>
                    <div class="divider-vertical" hide show-gt-sm></div>
                </div>

                <div layout="row" layout-align="center center">

                    <span class="page-info" hide show-gt-sm>
                        <span>Filter By Year</span>
                        <md-icon md-font-icon="icon-sort-ascending"></md-icon>
                        <md-tooltip><span translate="CSY.YEAR_FILTER">Filter By Year</span></md-tooltip>
                    </span>

                    <md-select class="simplified with-3d-shadow" ng-model="vm.selectedStreamFilter.year" placeholder="Select Year"
                               ng-change="vm.changeSelect(false,false,false,true)">
                        <md-option ng-repeat="v in vm.years" value="{{v}}">
                            {{v}}
                        </md-option>
                    </md-select>
                </div>

                <div layout="row" layout-align="start center">
                    <span class="page-info" hide show-gt-sm>
                        <span>Filter By County</span>
                        <md-icon md-font-icon="icon-sort-ascending"></md-icon>
                        <md-tooltip><span translate="CSY.COUNTY_FILTER">Filter By County</span></md-tooltip>
                    </span>

                    <md-select class="simplified" ng-model="vm.selectedStreamFilter.subCounty" placeholder="Select County"
                               ng-change="vm.changeSelect(false,false,false,true)">
                        <md-option ng-repeat="v in vm.subCounties" value="{{v.subcounty}}">
                            {{v.subcounty}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content" layout="column" flex>

                <!-- List pane -->
                <md-content class="list-pane" flex>

                    <div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.selectedStreamFilter.subCounty || vm.selectedStreamFilter.year">

                        <div layout="row" layout-align="center center">

                            <md-subheader class="md-primary">Filtered By:</md-subheader>
                            <md-subheader class="md-primary" ng-if="vm.selectedStreamFilter.subCounty">County:
                                <span>{{vm.selectedStreamFilter.subCounty}};</span>
                            </md-subheader>
                            <div class="divider-vertical" hide show-gt-sm></div>
                            <md-subheader class="md-primary"ng-if="vm.selectedStreamFilter.year">Year:
                                <span>{{vm.selectedStreamFilter.year}};</span>
                            </md-subheader>


                        </div>
                    </div>

                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="TABLES">

                            <md-content class="md-padding">

                                <!-- WIDGET GROUP -->
                                <div class="widget-group" layout="row" flex="100" layout-wrap>

                                    <!-- WIDGET 7 -->
                                    <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="100">

                                        <!-- Front -->
                                        <ms-widget-front class="white-bg">

                                            <div class="ph-16 pv-24 border-bottom" layout="row" layout-align="space-between center">
                                                <div layout="row" layout-align="start center">
                                                    <span class="h3">{{vm.widgetStreamsMonthlySummaryData.title}}</span>
                                                </div>

                                                <md-menu>
                                                    <md-button aria-label="more" class="md-icon-button"
                                                               ng-click="$mdOpenMenu($event)">
                                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                                    </md-button>
                                                    <md-menu-content width="2">
                                                        <md-menu-item>
                                                            <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                                Refresh
                                                            </md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </div>

                                            <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                                <thead>
                                                <tr>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Stream Name</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Jan</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Feb</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Mar</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Apr</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">May</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Jun</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">July</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Aug</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Sept</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Oct</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Nov</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Dec</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="(key, data) in vm.widgetStreamsMonthlySummaryData.data.data | groupBy: 'account__accountname' track by $index">
                                                    <td>
                                                        {{key}}
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===1">
                                                            {{m.dsum | number : fractionSize}}

                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===2">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===3">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===4">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===5">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===6">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===7">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===8">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===9">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===10">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===11">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="m in data" ng-if="m.month ===12">
                                                            {{m.dsum | number : fractionSize}}
                                                        </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </ms-widget-front>
                                        <!-- / Front -->

                                    </ms-widget>
                                    <!-- / WIDGET 7 -->
                                </div>
                                <!-- WIDGET GROUP -->


                            </md-content>

                        </md-tab>
                        <md-tab label="DASHBOARD">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">DASHBOARD</h1>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
                <!-- / List pane -->

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- CONTENT CARD FOR STREAMS REPORTS-->


        <!-- CONTENT CARD -->
        <div class="content-card" ng-if="!vm.hideForDev">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="center center">

                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('csy-main-sidenav')" hide-gt-md
                           aria-label="Toggle Sidenav">
                    <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                </md-button>

                <div class="start"><md-subheader class="md-primary">Select Year</md-subheader></div>
                <div class="center date-select">
                    <md-select class="simplified with-3d-shadow" ng-model="vm.selectedAnnualFilter.year" placeholder="{{vm.years[0]}}">
                        <md-option ng-repeat="v in vm.years" value="{{v}}">
                            {{v}}
                        </md-option>
                    </md-select>
                </div>
                <div class="center"><md-subheader class="md-primary">Select Sub-County</md-subheader></div>
                <div class="end">
                    <md-select class="simplified" ng-model="vm.selectedAnnualFilter.subCounty" placeholder="{{vm.subCounties[0]}}">
                        <md-option ng-repeat="v in vm.subCounties" value="{{v}}">
                            {{v}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>


                <!--&lt;!&ndash; FILTERS SIDENAV BUTTON &ndash;&gt;-->
                <!--<md-button class="md-icon-button"-->
                           <!--ng-click="vm.toggleSidenav('filters-sidenav')"-->
                           <!--aria-label="Filter Cards" translate translate-attr-aria-label="SB.FILTER_CARDS">-->
                    <!--<md-icon md-font-icon="icon-filter-variant"></md-icon>-->
                    <!--<md-tooltip><span translate="SB.FILTER_CARDS">Filter Cards</span></md-tooltip>-->
                <!--</md-button>-->
                <!--&lt;!&ndash; / FILTERS SIDENAV BUTTON &ndash;&gt;-->

                <!--&lt;!&ndash; BOARD SETTINGS BUTTON &ndash;&gt;-->
                <!--<md-button class="md-icon-button"-->
                           <!--ng-click="vm.toggleSidenav('settings-sidenav')"-->
                           <!--aria-label="Settings" translate translate-attr-aria-label="SB.SETTINGS">-->
                    <!--<md-icon md-font-icon="icon-cog"></md-icon>-->
                    <!--<md-tooltip><span translate="SB.SETTINGS">Settings</span></md-tooltip>-->
                <!--</md-button>-->
                <!--&lt;!&ndash; / BOARD SETTINGS BUTTON &ndash;&gt;-->

                <!--&lt;!&ndash; WIDGET GROUP &ndash;&gt;-->
                <!--<div class="widget-group" layout="row" flex="100" layout-wrap>-->

                    <!--&lt;!&ndash; WIDGET 6 &ndash;&gt;-->
                    <!--<ms-widget layout="column" flex="100" flex-gt-sm="50">-->

                        <!--&lt;!&ndash; Front &ndash;&gt;-->
                        <!--<ms-widget-front class="white-bg">-->
                            <!--<div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"-->
                                 <!--layout-wrap>-->
                                <!--<div class="pv-8 h3">{{vm.barChart.title}}</div>-->

                                <!--<div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"-->
                                     <!--flex-sm="100">-->

                                    <!--<md-menu>-->
                                        <!--<md-button class="md-icon-button" ng-click="$mdOpenMenu()"-->
                                                   <!--aria-label="more">-->
                                            <!--<md-icon md-font-icon="icon-dots-vertical"></md-icon>-->
                                        <!--</md-button>-->

                                            <!--<md-menu-content width="3">-->
                                                <!--<md-menu-item>-->
                                                    <!--<md-button aria-label="Flip widget">-->
                                                      <!--Details-->
                                                    <!--</md-button>-->
                                                <!--</md-menu-item>-->
                                                <!--<md-menu-item>-->
                                                    <!--<md-button aria-label="Refresh widget">-->
                                                      <!--Refresh-->
                                                    <!--</md-button>-->
                                                <!--</md-menu-item>-->
                                            <!--</md-menu-content>-->
                                    <!--</md-menu>-->


                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="p-16">-->
                                <!--&lt;!&ndash;put the bar chat here here&ndash;&gt;-->
                                <!--<div class="card md-whiteframe-4dp">-->
                                    <!--<chartist class="ct-chart ct-golden-section" chartist-data="vm.barChart.data" chartist-chart-type="Bar" chartist-chart-options="vm.barChart.options" chartist-responsive-options="vm.barChart.responsiveOptions"></chartist>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</ms-widget-front>-->
                        <!--&lt;!&ndash; / Front &ndash;&gt;-->

                    <!--</ms-widget>-->
                    <!--&lt;!&ndash; / WIDGET 6 &ndash;&gt;-->

                    <!--&lt;!&ndash; WIDGET 7 &ndash;&gt;-->
                    <!--<ms-widget layout="column" flex="100" flex-gt-sm="50">-->

                        <!--&lt;!&ndash; Front &ndash;&gt;-->
                        <!--<ms-widget-front class="white-bg">-->
                              <!--<div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"-->
                                   <!--layout-wrap>-->
                                  <!--<div class="pv-8 h3">{{vm.pieChart.title}}</div>-->

                                  <!--<div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"-->
                                       <!--flex-sm="100">-->
                                      <!--<md-menu>-->
                                          <!--<md-button class="md-icon-button" ng-click="$mdOpenMenu()"-->
                                                     <!--aria-label="more">-->
                                            <!--<md-icon md-font-icon="icon-dots-vertical"></md-icon>-->
                                          <!--</md-button>-->

                                          <!--<md-menu-content width="3">-->
                                              <!--<md-menu-item>-->
                                                  <!--<md-button aria-label="Flip widget">-->
                                                    <!--Details-->
                                                  <!--</md-button>-->
                                              <!--</md-menu-item>-->
                                              <!--<md-menu-item>-->
                                                  <!--<md-button aria-label="Refresh widget">-->
                                                    <!--Refresh-->
                                                  <!--</md-button>-->
                                              <!--</md-menu-item>-->
                                          <!--</md-menu-content>-->
                                      <!--</md-menu>-->
                                  <!--</div>-->
                              <!--</div>-->

                              <!--<div class="p-16">-->
                                  <!--<nvd3 class="h-400"-->
                                        <!--config="vm.pieChart.config"-->
                                        <!--options="vm.pieChart.options"-->
                                        <!--data="vm.pieChart.data"></nvd3>-->
                              <!--</div>-->

                              <!--<div class="p-16">-->
                                  <!--&lt;!&ndash;will be sorted later&ndash;&gt;-->
                              <!--</div>-->



                              <!--<div class="pv-8 mh-16 border-top" layout="row" layout-align="start center" layout-wrap>-->
                                  <!--<div class="pv-8 border-right" layout="column" layout-align="center center"-->
                                       <!--flex="100" flex-gt-xs="50">-->
                                      <!--<span class="font-size-32">Lowest</span>-->
                                      <!--<span class="h4">{{vm.pieChart.data[2].y}}</span>-->
                                  <!--</div>-->

                                  <!--<div class="pv-8" layout="column" layout-align="center center" flex="100"-->
                                       <!--flex-gt-xs="50">-->
                                      <!--<span class="font-size-32">Highest</span>-->
                                      <!--<span class="h4">{{vm.pieChart.data[4].y}}</span>-->
                                  <!--</div>-->
                              <!--</div>-->

                        <!--</ms-widget-front>-->
                        <!--&lt;!&ndash; / Front &ndash;&gt;-->

                    <!--</ms-widget>-->
                    <!--&lt;!&ndash; / WIDGET 7 &ndash;&gt;-->

                <!--</div>-->
                <!--&lt;!&ndash; / WIDGET GROUP &ndash;&gt;-->

                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- WIDGET 5 -->
                    <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="100">

                        <!-- Front -->
                        <ms-widget-front class="white-bg">

                            <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                 layout-wrap>
                                <div class="pv-8 h3">{{vm.widgetAnnualSummaryData.title}}</div>

                                <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                     flex-sm="100">
                                </div>
                            </div>
                            <!--put the table here-->
                            <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                <thead>
                                    <tr>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Revenue Stream</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Jan</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Feb</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Mar</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Apr</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">May</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Jun</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Jul</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Aug</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Sept</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Oct</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Nov</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Dec</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Total Collection</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="v in ::vm.widgetAnnualSummaryData.data">
                                    <td>{{ v.stream }}</td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.Jan}}</span></td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.Feb}}</span></td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.Mar}}</span></td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.Apr}}</span></td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.May}}</span></td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.June}}</span></td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.Jul}}</span></td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.Aug}}</span></td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.Sept}}</span></td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.Oct}}</span></td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.Nov}}</span></td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.Dev}}</span></td>
                                    <td><span ng-repeat="m in ::v.monthlyCollection">{{m.Jan}}</span></td>
                                </tr>
                                </tbody>
                            </table>
                            <!--put the table here-->
                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 5 -->



                </div>
                <!-- / WIDGET GROUP -->

                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- WIDGET 6 -->
                    <ms-widget layout="column" flex="100" flex-gt-sm="100">

                        <!-- Front -->
                        <ms-widget-front class="white-bg">
                            <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                 layout-wrap>
                                <div class="pv-8 h3">{{vm.barChart.title}}</div>

                                <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                     flex-sm="100">

                                    <md-menu>
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                   aria-label="more">
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content width="3">
                                            <md-menu-item>
                                                <md-button aria-label="Flip widget">
                                                    Details
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button aria-label="Refresh widget">
                                                    Refresh
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>


                                </div>
                            </div>

                            <div class="p-16">
                                <!--put the bar chat here here-->
                                <div class="card md-whiteframe-4dp">
                                    <chartist class="ct-chart ct-golden-section" chartist-data="vm.barChart.data" chartist-chart-type="Bar" chartist-chart-options="vm.barChart.options" chartist-responsive-options="vm.barChart.responsiveOptions"></chartist>
                                </div>
                            </div>

                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 6 -->
                </div>
                <!-- WIDGET GROUP -->


            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

    <md-backdrop class="board-selector-backdrop md-dialog-backdrop md-opaque" ng-show="vm.boardSelectorVisible"
                 ng-click="vm.boardSelectorVisible = false" aria-hidden="true">
    </md-backdrop>
    <!-- / BOARD SELECTION -->

    <!--&lt;!&ndash; CONTENT &ndash;&gt;-->
    <!--<md-content class="content" flex layout="column" ui-view="scrumboardContent"></md-content>-->
    <!--&lt;!&ndash; / CONTENT &ndash;&gt;-->

</div>
