<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-checkbox-marked" class="s24"></md-icon>
        </span>
        <span class="logo-text" translate="CODE-SETTING.TITLE">Revenue Code</span>
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>

    <div class="add-button">
        <md-button class="md-accent md-raised" ng-click="vm.openTaskDialog($event)" aria-label="ADD STREAM"
                   translate="CODE-SETTING.ADD_STREAM" translate-attr-aria-label="CODE-SETTING.ADD_STREAM">
          ADD STREAM
        </md-button>
    </div>

    <div class="add-button">
        <md-button class="md-accent md-raised" ng-click="vm.openTaskDialog($event)" aria-label="ADD CODE"
                   translate="CODE-SETTING.ADD_CODE" translate-attr-aria-label="CODE-SETTING.ADD_CODE">
          ADD CODE
        </md-button>
    </div>

  <div class="navigation-simple" layout="column">
      <md-button class="item" aria-label="All Tasks" translate translate-attr-aria-label="CODE-SETTING.ALL_STREAMS"
                 ng-class="{'selected':vm.isShowStream}" ng-click="vm.showStreamFunc(true)">
          <div layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-view-headline" class="s16"></md-icon>
            <span class="title" translate="CODE-SETTING.ALL_STREAMS">All Streams</span>
          </div>
      </md-button>

      <md-button class="item" aria-label="All Tasks" translate translate-attr-aria-label="CODE-SETTING.ALL_CODES"
                 ng-class="{'selected':!vm.isShowStream}" ng-click="vm.showStreamFunc(false)">
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-book" class="s16"></md-icon>
          <span class="title" translate="CODE-SETTING.ALL_CODES">All Revenue Codes</span>
        </div>
      </md-button>
  </div>

</md-content>
<!-- / SIDENAV CONTENT -->
