<!-- SIDENAV HEADER -->
<md-toolbar class="md-accent" ng-class="'md-accent-bg'">
    <div class="md-toolbar-tools">

        <!--<md-button class="md-icon-button" aria-label="back" translate translate-attr-aria-label="SC.BACK">-->
            <!--<md-icon md-font-icon="icon-arrow-left"></md-icon>-->
        <!--</md-button>-->

        <span flex class="menu-title">FILTER TRANSACTIONS</span>

    </div>
</md-toolbar>
<!-- / SIDENAV HEADER -->

<!-- FILTERS -->
<md-content class="animate-slide-right filter" ms-scroll ms-sidenav-helper>
    <md-list>

        <!-- FILTER BY COUNTY -->
        <md-list-item>
            <md-subheader class="md-no-sticky" translate="CSY.COUNTY_FILTER">
                Select County
            </md-subheader>
        </md-list-item>

        <md-list-item>
            <md-input-container flex>
                <label>Select County</label>
                <md-select ng-model="vm.categoriesFilter.subCounty" ng-change="vm.changeSelect()">
                    <md-optgroup label="Select County">
                        <md-option ng-repeat="v in vm.subCounties" value="{{v.subcounty}}">
                            {{v.subcounty}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </md-list-item>
        <!-- FILTER BY COUNTY -->

        <!-- FILTER BY START DATE -->
        <md-list-item>
            <md-subheader class="md-no-sticky" translate="SC.START_DATE">Select Start Date</md-subheader>
        </md-list-item>

        <md-list-item>
            <md-datepicker flex ng-model="vm.categoriesFilter.startDate" md-is-open="vm.isOpen" md-placeholder="Select Start Date" ng-change="vm.changeSelect()"
                           md-min-date="vm.minDate" md-max-date="vm.maxDate" ></md-datepicker>
        </md-list-item>
        <!-- FILTER BY START DATE -->

        <md-divider></md-divider>

        <!-- FILTER BY END DATE -->
        <md-list-item>
            <md-subheader class="md-no-sticky" translate="SC.END_DATE">Select End Date</md-subheader>
        </md-list-item>

        <md-list-item>
            <md-datepicker flex ng-model="vm.categoriesFilter.endDate" md-is-open="vm.isOpen" md-placeholder="Select End Date" ng-change="vm.changeSelect()"
                           md-min-date="vm.minDate || vm.categoriesFilter.startDate" md-max-date="vm.maxDate" ></md-datepicker>
        </md-list-item>
        <!-- FILTER BY END DATE -->


        <md-divider></md-divider>
    </md-list>

    <div layout="row" layout-align="center center">
        <div class="end">
            <md-button class="md-warn md-raised" ng-disabled="!vm.activateFiltersSubmitBtn"
                       ng-click="vm.filterData()">Submit</md-button>
        </div>
    </div>

</md-content>
<!-- FILTERS -->