<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-checkbox-marked" class="s24"></md-icon>
        </span>
        <span class="logo-text" translate="CSY.ANNUAL_SUMMARIES_SIDE_NAV_TITLE">Annual Summaries</span>
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>

    <div class="navigation-simple demo-sidenav" layout="column">
        <md-button class="item" aria-label="All Tasks" translate translate-attr-aria-label="CSY.TOTAL_REPORTS"
                   ng-class="{'selected':vm.isShowTotal}" ng-click="vm.showDivsFunction(true,false,false,false)">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-view-headline" class="s16"></md-icon>
                <span class="title" translate="CSY.TOTAL_REPORTS">Total Collections</span>
            </div>
        </md-button>

        <md-divider></md-divider>

        <md-button class="item" aria-label="All Tasks" translate translate-attr-aria-label="CSY.STREAM_CAT_REPORTS"
                   ng-class="{'selected':vm.isShowSubcounty}" ng-click="vm.showDivsFunction(false,true,false,false)">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-book" class="s16"></md-icon>
                <span class="title font-size-12" translate="CSY.SUB_COUNTY_REPORTS">SUB-COUNTY REPORTS</span>
            </div>
        </md-button>

        <md-divider></md-divider>

        <md-button class="item" aria-label="All Tasks" translate translate-attr-aria-label="CSY.STREAM_CAT_REPORTS"
                   ng-class="{'selected':vm.isShowStreamCategories}" ng-click="vm.showDivsFunction(false,false,true,false)">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-book" class="s16"></md-icon>
                <span class="title font-size-12" translate="CSY.STREAM_CAT_REPORTS">STREAM CATEGORIES</span>
            </div>
        </md-button>

        <md-divider></md-divider>

        <md-button class="item" aria-label="All Tasks" translate translate-attr-aria-label="CSY.STREAM_CAT_REPORTS"
                   ng-class="{'selected':vm.isShowStream}" ng-click="vm.showDivsFunction(false,false,false,true)">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-book" class="s16"></md-icon>
                <span class="title font-size-12" translate="CSY.ALL_STREAMS_REPORTS">ALL STREAMS REPORTS</span>
            </div>
        </md-button>

        <md-divider></md-divider>

    </div>

</md-content>
<!-- / SIDENAV CONTENT -->
