<div id="revenue-collections-report" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- / FILTER SELECTION -->
    <md-backdrop class="board-selector-backdrop md-dialog-backdrop md-opaque" ng-show="vm.dateFilterSelectorVisible"
                 ng-click="vm.dateFilterSelectorVisible = false" aria-hidden="true">
    </md-backdrop>
    <!-- / FILTER SELECTION -->

    <!-- FILTERS SIDENAV -->
    <md-sidenav class="filter-sidenav md-sidenav-right" md-component-id="revenue-collections-report-filter-sidenav"
                ng-include="'app/main/verve/transactions/revenue-collections-report/sidenavs/filters/filters-sidenav.html'"
                ms-sidenav-helper>
    </md-sidenav>
    <!-- FILTERS SIDENAV -->

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- CONTENT HEADER -->

        <div class="header" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="h2 white-fg">Transactions \ Revenue Stream Categories</span>
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">

                <span ng-show="!vm.categoriesFilter.subCounty && !vm.categoriesFilter.startDate">

                    <md-subheader class="md-primary">Showing All Data</md-subheader>
                </span>

                <span ng-if="vm.categoriesFilter.subCounty || vm.categoriesFilter.startDate">
                    <md-subheader class="md-primary">Showing Data For:
                        <span ng-if="vm.categoriesFilter.subCounty">{{vm.categoriesFilter.subCounty}};</span>
                        <span ng-if="vm.categoriesFilter.startDate">{{vm.v.startDate}}-{{vm.categoriesFilter.endDate}}</span>
                    </md-subheader>
                </span>

                <div layout="row" layout-align="end center">
                    <md-button class="md-accent md-raised md-hue-2 header-boards-button"
                               ng-click="vm.filterSelectorVisible = !vm.filterSelectorVisible && vm.toggleSidenav('revenue-collections-report-filter-sidenav')"
                               aria-label="boards button" translate translate-attr-aria-label="SC.FILTER_BUTTON">
                        <md-icon md-font-icon="icon-filter-variant" class="icon"></md-icon>
                        <span translate="SC.FILTER">Filter</span>
                    </md-button>
                </div>


            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- WIDGET 1 -->
                    <ms-widget layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                        <ms-widget-front class="white-bg">
                            <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                <div class="h3">Total Categories</div>
                            </div>

                            <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                <!--if a big number use font 52 else use font 72-->
                                <div class="light-blue-fg font-size-72 line-height-72">
                                    {{vm.pieChart.data.length}}
                                </div>
                                <div class="h3 secondary-text font-weight-500">ACTIVE CATEGORIES</div>
                            </div>

                            <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                <span class="h4 secondary-text text-truncate">Total Revenue Stream Categories</span>
                                <span class="h4 ml-8">&nbsp;</span>
                            </div>
                        </ms-widget-front>

                    </ms-widget>
                    <!-- / WIDGET 1 -->
                    <!-- WIDGET 2 -->
                    <ms-widget layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">
                        <ms-widget-front class="white-bg">
                            <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                <div class="h3">Highest Revenue</div>
                            </div>

                            <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                <!--if a big number use font 52 else use font 72-->
                                <div class="red-fg font-size-52 line-height-72">
                                    {{ (vm.pieChart.data | max: 'y').y | number : fractionSize }}
                                </div>
                                <div class="h3 secondary-text font-weight-500">{{ ((vm.pieChart.data | max: 'y').key)}}</div>
                            </div>

                            <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                <span class="h4 secondary-text text-truncate">Highest Revenue Category</span>
                                <span class="h4 ml-8">&nbsp;</span>
                            </div>
                        </ms-widget-front>
                    </ms-widget>
                    <!-- / WIDGET 2 -->

                    <!-- WIDGET 3 -->
                    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">
                        <ms-widget-front class="white-bg">
                            <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                <div class="h3">Lowest Revenue</div>
                            </div>

                            <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                <div class="orange-fg font-size-72 line-height-72">
                                    {{ (vm.pieChart.data | min: 'y').y | number : fractionSize }}
                                </div>
                                <div class="h3 secondary-text font-weight-500">{{ (vm.pieChart.data | min: 'y').key }}</div>
                            </div>

                            <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                <span class="h4 secondary-text text-truncate">Lowest Revenue Category</span>
                                <span class="h4 ml-8">&nbsp;</span>
                            </div>
                        </ms-widget-front>
                    </ms-widget>
                    <!-- / WIDGET 3 -->

                    <!-- WIDGET 4 -->
                    <ms-widget layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">
                        <ms-widget-front class="white-bg">
                            <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                <div class="h3">Total Entries</div>
                            </div>

                            <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                <div class="blue-grey-fg font-size-72 line-height-72">{{vm.widgetRevenueStreamsCategoriesData.data.totals.amount__count | number : fractionSize}}
                                </div>
                                <div class="h3 secondary-text font-weight-500">Entries</div>
                            </div>

                            <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                <span class="h4 secondary-text text-truncate">&nbsp;</span>
                                <span class="h4 ml-8">Entries</span>
                            </div>
                        </ms-widget-front>
                    </ms-widget>
                    <!-- / WIDGET 4 -->

                </div>
                <!-- / WIDGET GROUP -->

                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap ng-show="vm.showRevenueTotalStreamsCategories">

                    <!-- WIDGET 6 -->
                    <ms-widget layout="column" flex="100" flex-gt-sm="50">

                        <!-- Front -->
                        <ms-widget-front class="white-bg">
                            <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                 layout-wrap>
                                <div class="pv-8 h3">{{vm.multiBarHorizontalChart.title}}</div>

                                <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                     flex-sm="100">

                                    <md-menu>
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                   aria-label="more">
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content width="3">
                                            <md-menu-item>
                                                <md-button aria-label="Refresh widget">
                                                    Refresh
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>


                                </div>
                            </div>

                            <div class="p-16">
                                <nvd3 options="vm.multiBarHorizontalChart.options" data="vm.multiBarHorizontalChart.data"></nvd3>
                            </div>

                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 6 -->

                    <!-- WIDGET 7 -->
                    <ms-widget layout="column" flex="100" flex-gt-sm="50">

                        <!-- Front -->
                        <ms-widget-front class="white-bg">
                            <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                 layout-wrap>
                                <div class="pv-8 h3">{{vm.doughnutChart.title}}</div>

                                <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                     flex-sm="100">
                                    <md-menu>
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                   aria-label="more">
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content width="3">
                                            <md-menu-item>
                                                <md-button aria-label="Refresh widget">
                                                    Refresh
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </div>

                            <div class="p-16">
                                <!--<nvd3-->
                                      <!--config="vm.pieChart.config"-->
                                      <!--options="vm.pieChart.options"-->
                                      <!--data="vm.pieChart.data"></nvd3>-->

                                <canvas height="200" id="doughnut" class="chart chart-doughnut" chart-data="vm.doughnutChart.data"
                                        chart-labels="vm.doughnutChart.labels" chart-options="vm.doughnutChart.options"></canvas>
                            </div>

                            <div class="pv-8 mh-16 border-top" layout="row" layout-align="start center" layout-wrap>
                                <div class="pv-8 border-right" layout="column" layout-align="center center"
                                     flex="100" flex-gt-xs="50">
                                    <span class="font-size-32">Lowest</span>
                                  <span class="h3 text-boxed m-3 red-bg white-fg">{{ (vm.pieChart.data | min: 'y').key }}</span>
                                  <span class="h4">{{ (vm.pieChart.data | min: 'y').y | number : fractionSize }}</span>
                                </div>

                                <div class="pv-8" layout="column" layout-align="center center" flex="100"
                                     flex-gt-xs="50">
                                    <span class="font-size-32">Highest</span>
                                    <span class="h3 text-boxed m-3 red-bg white-fg">{{ (vm.pieChart.data | max: 'y').key }}</span>
                                    <span class="h4">{{ (vm.pieChart.data | max: 'y').y | number : fractionSize }}</span>
                                </div>
                            </div>

                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 7 -->

                </div>
                <!-- / WIDGET GROUP -->

                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- WIDGET 5 -->
                    <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="100">

                        <!-- Front -->
                        <ms-widget-front class="white-bg">

                            <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                                 layout-wrap>
                                <div class="pv-8 h3">{{vm.widgetRevenueStreamsCategoriesData.title}}</div>

                                <!--<div class="pv-8" layout="row" layout-align="start center" layout-align-sm="center"-->
                                     <!--flex-sm="100">-->
                                    <!--Showing-->
                                <!--</div>-->

                                <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                     flex-sm="100">
                                </div>
                            </div>

                            <div class="white-bg md-whiteframe-4dp">
                                <!--put the table here-->
                                <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                    <tr>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">No</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Revenue Category</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Entries</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Total Collection</span>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="v in vm.widgetRevenueStreamsCategoriesData.data.collectionsData" ng-hide="!v.account__stream">
                                        <td>{{ ($index +1) }}</td>
                                        <td>
                                            <span class="text-boxed m-0 indigo-bg white-fg" ng-if="!v.account__stream">
                                                Undefined Category
                                            </span>
                                            <span>
                                                {{v.account__stream}}
                                            </span>
                                        </td>
                                        <td>{{ v.dcount | number : fractionSize }}</td>
                                        <td>{{ v.dsum | number : fractionSize }}</td>
                                    </tr>
                                    </tbody>
                                    <tr>
                                        <td>
                                            <span class="ml-16 text-boxed pink-bg white-fg ng-binding">
                                                {{vm.widgetRevenueStreamsCategoriesData.data.collectionsData.length}} Categories
                                            </span>
                                        </td>
                                        <td>Totals</td>
                                        <td>{{ vm.widgetRevenueStreamsCategoriesData.data.totals.amount__count | number : fractionSize }}</td>
                                        <td>{{ vm.widgetRevenueStreamsCategoriesData.data.totals.amount__sum | number : fractionSize }}</td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <!--put the table here-->
                            </div>
                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 5 -->

                </div>
                <!-- / WIDGET GROUP -->
            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
